__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.eg
ckpt
*.ckpt
*.pth

*.ipynb
*.bin
log.txt
*_log
*.log

flagged/
script/
wandb
log/
tiny_*
lora-*
results

# Ignore for lm-evaluation-harness
env
lm_cache
.idea
*.log
*.egg-info